* {
    box-sizing: border-box; 
 }
 
 form {
     padding-top: 30px;
     width: 50%;
     margin-left: auto;
     margin-right: auto;
 }
 
 #display-results {
     width: 40%;
     padding: 10px;
     margin: 0 auto;
 }
 
 .result {
     padding: 5px;
     width: 100%;
 
 }
 
 .result p {
     font: bold 20pt 1.5em;
 }